#root {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 1em 8em;
  max-width: 100vw;
  display: flex;
  background-color: var(--color-primary);
  justify-content: space-between;
  filter: drop-shadow(0 -20mm 20mm var(--color-secondary-light));
  align-items: center;
  flex-direction: row;
}

#dot {
  color: var(--color-accent);
}

body {
  margin: 0;
  padding: 0;
}

#logo {
  margin: 0;
  font-size: 1.5em;
  font-weight: 800;
}

#contact-btn {
  margin-right: auto;
}

.nav-links {
  display: flex;
  gap: 3em;
  list-style: none;
  padding: 0px;
}

.nav-item {
  color: var(--color-secondary-light);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
