#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

h1,
p,
h2 {
  margin: 0;
}

.web-subtitle,
p {
  color: var(--color-secondary-light);
}

.stay-tuned {
  color: var(--color-accent);
  padding-right: 0.25em;
}
