:root {
  /* Color variables */
  --color-primary: #ececec;
  --color-secondary: #202020;
  --color-secondary-light: #3e3e3e;
  --color-accent: #00d09f;

  /* Typography */
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  /* Colors & Scheme */
  color-scheme: light dark;
  color: var(--color-secondary);
  background-color: white;

  /* Font Rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

h1,
h2,
h3,
p,
small {
  margin: 0;
  padding: 0;
  width: fit-content;
}

img {
  -webkit-user-drag: none; /* For WebKit browsers (Chrome, Safari) */
  -moz-user-drag: none; /* For Mozilla Firefox */
  -ms-user-drag: none; /* For Microsoft Edge/IE */
}
