:root {
  --background-primary: #000411;
  --primary-color: #d5d5d5;
  --secondary-color: #3df0ac;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;
}

html {
  background: var(--background-primary);
  color: var(--primary-color);
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--primary-color);
}

@font-face {
  font-family: "Montserrat";
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
}
